.home {
  padding: 1.5rem 3rem;
  font-size: 1.25rem;
  text-align: center;

  button {
    font-size: 2.5rem;
    width: 8rem;
    height: 8rem;
    color: #fff;
    background-color: #db4437;
    border-radius: 50%;
    box-shadow: 0 3px 14px 2px rgba(0, 0, 0, .44);
    border: 0;
    cursor: pointer;
    margin: 1.5rem 0;

    &:focus {
      outline: none;
    }

    &:active {
      box-shadow: inset 0 3px 14px 2px rgba(0, 0, 0, .44);
    }
  }
}
