@import '~purecss/build/forms-min';
@import '~purecss/build/buttons-min';

.login {
  margin: 3rem auto;
  text-align: center;

  input {
    margin-left: 5px;
  }

  button {
    margin-left: 5px;
  }
}

