.vscode

server/public/images/l/*
server/public/images/m/*
server/public/images/s/*
server/uploads/images/*

!server/public/images/l/.gitkeep
!server/public/images/m/.gitkeep
!server/public/images/s/.gitkeep
!server/uploads/images/.gitkeep

client/node_modules
client/build
TODO

server/node_modules
server/config.js

Temp

records.json
stats.json
