.vscode

client/src/images/games/*
client/src/images/l/*
client/src/images/m/*
client/src/images/s/*
client/src/images/temp/*

!client/src/images/games/.gitkeep
!client/src/images/l/.gitkeep
!client/src/images/m/.gitkeep
!client/src/images/s/.gitkeep
!client/src/images/temp/.gitkeep

client/node_modules
client/build
TODO

Temp
