.vscode

node_modules
shipitfile.js
yarn.lock
package.json

server/public/images/l/*
server/public/images/m/*
server/public/images/s/*
server/uploads/images/*

!server/public/images/l/.gitkeep
!server/public/images/m/.gitkeep
!server/public/images/s/.gitkeep
!server/uploads/images/.gitkeep

client/node_modules
client/build
TODO

server/node_modules

Temp

records.json
stats.json

client/npm-shrinkwrap.json
server/npm-shrinkwrap.json

server/.env
