@import 'elements/modal';
@import 'elements/slider';
@import 'elements/top-buttons';

.test {
    background: #f9f9f9;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: $container-width;
    padding: 0;

    .character-image {
        background: #fefefe;
        flex: 1 1 67%;
        margin: auto 0;
        text-align: center;

        img {
            margin-bottom: -4px;
            max-height: 768px;
            max-width: 95%;

            @media only screen and (max-height: 768px) {
                & {
                    max-height: 80vmin;
                }
            }

            @media only screen and (max-height: 415px) {
                & {
                    max-height: 75vmin;
                }
            }
        }
    }

    .buttons {
        display: flex;
        flex: 1 1 22%;
        flex-direction: column;
        flex-wrap: nowrap;
        margin: .85rem .85rem 0;

        button {
            border-radius: 3px;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
            color: rgba(255, 255, 255, .87);
            font-weight: bold;
            margin-bottom: .85rem;
            padding: .75rem 1rem;
            text-align: center;

            &.active {
                box-shadow: inset 3px 7px 7px rgba(0, 0, 0, .17);
            }

            @media only screen and (max-width: 740px) {
                & {
                    font-size: .9em;
                    padding: .5rem .7rem;
                }
            }

            @media only screen and (max-width: 580px) {
                & {
                    font-size: .8em;
                    padding: .35rem .5rem;
                }
            }
        }

        .blue {
            &:hover {
                background-color: darken($blue, 7%);
            }

            &:disabled {
                &:hover {
                    background-color: $blue;
                }
            }
        }
    }

    .navigation {
        display: flex;
        flex: 1 1 1%;
        text-align: center;
        transition: all .2s;

        button {
            align-items: center;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            font-size: 2rem;
            justify-content: center;
            padding: 0 6px;
            transition: all .2s;

            &:disabled {
                background-color: #fff;
                color: $gray;

                &:hover {
                    background-color: #fff;
                }
            }

            &:hover {
                background-color: #f0efef;
            }

            @media only screen and (max-width: 740px) {
                & {
                    padding: 0 4px;
                }
            }
        }
    }
}
