.red {
    background-color: $red;
}

.green {
    background-color: $green;
}

.blue {
    background-color: $blue;
}

.gray {
    background-color: $gray;
}

.txt-blue {
    color: $blue;
}

.txt-red {
    color: $red;
}

.txt-green {
    color: $green;
}

.txt-gray {
    color: $gray;
}
