// @import '~bootstrap/scss/bootstrap-flex';
// @import '~bootstrap/dist/css/bootstrap-flex.min';
// @import '~font-awesome/scss/font-awesome';

// @import 'admin/bootstrap-custom';
@import 'common/loading';
@import '~react-progress-bar-plus/lib/progress-bar';

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.main-container {
  margin-top: 70px;
}

td {
  &.toowide {
    // max-width: 200px;
    // overflow-wrap: break-word;
    word-break: break-all;
  }

  &.tooshort {
    min-width: 115px;
  }
}

.close-sign {
  border-left: 1px solid #ccc;
  padding-left: 5px;
  margin-left: 6px;
}

.table-image {
  img {
    max-width: 125px;
    max-height: 75px;
  }
}

.form-image {
  img {
    max-width: 250px;
    max-height: 150px;
    margin-bottom: 5px;
  }
}

.sticky {
  position: fixed;
  width: inherit;
  top: 20px;
  z-index: 1050;
}

button {
  &.blank {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
  }
}

span {
  &.sort {
    border-bottom: 1px dotted black; 
    font-weight: bold;
  }
}

.games-table {
  table {
    width: 100%;
    table-layout: fixed;
  }
  
  td {
    &:nth-child(1) {
      width: 25%;
    }

    &:nth-child(2) {
      width: 10%;
    }

    &:nth-child(3) {
      width: 10%;
    }

    &:nth-child(4) {
      width: 10%;
    }

    &:nth-child(5) {
      width: 10%;
    }

    &:nth-child(6) {
      width: 10%;
    }

    &:nth-child(7) {
      width: 10%;
    }

    &:nth-child(8) {
      width: 15%;
    }
  }
}

.table-game-chars {
  table {
    width: 100%;
    table-layout: fixed;
  }
  
  td {
    &:nth-child(1) {
      width: 23%;
    }

    &:nth-child(2) {
      width: 10%;
    }

    &:nth-child(3) {
      width: 20%;
    }

    &:nth-child(4) {
      width: 20%;
    }

    &:nth-child(5) {
      width: 12%;
    }

    &:nth-child(6) {
      width: 15%;
    }
  }
}

.table-chars {
  table {
    width: 100%;
    table-layout: fixed;
  }
  
  td {
    &:nth-child(1) {
      width: 25%;
    }

    &:nth-child(2) {
      width: 12%;
    }

    &:nth-child(3) {
      width: 18%;
    }

    &:nth-child(4) {
      width: 15%;
    }

    &:nth-child(5) {
      width: 10%;
    }

    &:nth-child(6) {
      width: 15%;
    }
  }
}

.table-order-chars {
  table {
    width: 100%;
    table-layout: fixed;
  }
  
  td {
    &:nth-child(1) {
      width: 15%;
    }

    &:nth-child(2) {
      width: 10%;
    }

    &:nth-child(3) {
      width: 12%;
    }

    &:nth-child(4) {
      width: 18%;
    }

    &:nth-child(5) {
      width: 15%;
    }

    &:nth-child(6) {
      width: 10%;
    }

    &:nth-child(7) {
      width: 15%;
    }
  }
}
