.my-modal {

  span {
    &.correct {
      margin-bottom: .8rem;

      &::before {
        color: $green;
        content: '✔ ';
      }
    }

    &.incorrect {

      &::before {
        color: $red;
        content: '✖ ';
      }
    }
  }

  button {
    border-radius: 3px;
    color: rgba(255, 255, 255, .87);
    margin-top: 1rem;
    padding: .5rem 1rem;
    font-size: .9rem;

    &.green {
      background-color: darken($green, 5%);
    }

    &.btn-left {
      float: left;
      margin-right: 1rem;
    }

    &.btn-right {
      float: right;
    }
  }
}
